<style>
    .panel-recharge h3 {
        margin-bottom: 15px;
        margin-top: 10px;
        color: #444;
        font-size: 16px;
    }

    .row-paytype div input {
        display: none;
    }

    .row-paytype img {
        height: 30px;
        margin: 8px;
    }

    .row-paytype label {
        margin-bottom: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        border: 1px solid #efefef;
    }

    .row-paytype label:hover {
        background: rgba(100, 125, 255, 0.13);
        border-color: rgba(100, 125, 255, 0.13);
    }

    .row-paytype label.active {
        border-radius: 3px;
        background: rgba(100, 125, 255, 0.23);
        border: 1px solid rgba(100, 125, 255, 0.23);
    }

    .page-header small {
        margin-top: 15px;
        font-size: 13px;
    }

    .tabbable-panel {
        /*border:1px solid #eee;*/
        padding: 0px;
    }

    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px;
    }

    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
    }

    .tabbable-line > .nav-tabs > li > a {
        border: 0;
        margin-right: 0;
        color: #737373;
        font-size: 16px;
        font-weight: bold;
    }

    .tabbable-line > .nav-tabs > li > a > i {
        color: #a6a6a6;
    }

    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 3px solid rgba(56, 70, 132, 0.68);
    }

    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333333;
    }

    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
        color: #a6a6a6;
    }

    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px;
    }

    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 3px solid #384684;
        position: relative;
    }

    .tabbable-line > .nav-tabs > li.active > a {
        border: 0;
        color: #333333;
    }

    .tabbable-line > .nav-tabs > li.active > a > i {
        color: #404040;
    }

    .tabbable-line > .tab-content {
        margin-top: -3px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eee;
        padding: 15px 0;
    }

    .price-item {
        height: 115px;
        padding: 20px 15px;
        margin-bottom: 15px;
        border-radius: 5px;
        width: 100%;
        display: block;
        text-align: center;
        border: 1px solid #efefef;
    }

    .price-item:hover {
        background: rgba(100, 125, 255, 0.13);
        border-color: rgba(100, 125, 255, 0.13);
    }

    .price-item.active {
        border-radius: 3px;
        background: rgba(100, 125, 255, 0.23);
        border: 1px solid rgba(100, 125, 255, 0.23);
    }

    .price-item > .title, .price-item > .subtext {
        color: #444;
        height: 25px;
        line-height: 25px;
    }

    .price-item > .subtext {
        color: #999;
    }

    .price-item > .price {
        height: 30px;
        line-height: 30px;
        color: #fc4c57;
        font-size: 24px;
    }

    .price-item > .price em {
        font-size: 12px;
        font-style: normal;
    }

    .row-paytype div input {
        display: none;
    }

    .row-paytype img {
        margin: 8px;
        vertical-align: inherit;
    }

    .btn-recharge {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0;
    }

    .row-rightlist .media .media-left img {
        width: 50px;
        height: 50px;
    }

    .row-rightlist .media .media-heading {
        font-size: 14px;
        margin-top: 5px;
    }

    .row-rightlist .media .media-body .text-muted {
        height: 18px;
        overflow: hidden;
    }

    .row-rightlist .media {
        padding: 12px 0;
    }
</style>

<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-3">
            {include file="common/sidenav" /}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default panel-recharge">
                <div class="panel-body">
                    <h2 class="page-header">VIP列表 <span><small class="pull-right text-danger">
                                                支付宝VIP：{$user.alipay_time|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;
                                                微信VIP：{$user.wxpay_time|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;
                                                钱包VIP：{$user.qqpay_time|date="Y-m-d",###}&nbsp;&nbsp;&nbsp;
                                            </small></span></h2>
                                        <div class="alert alert-warning-light">
                                        请选择你需要购买或升级的VIP</div>
                                        <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="tabbable-panel">
                                <div class="tabbable-line">
                                    <ul class="nav nav-tabs ">
                                        <li class="active">
                                            <a href="#tab_vip_1" data-toggle="tab">支付宝</a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_vip_2" data-toggle="tab">微信</a>
                                        </li>
                                        <li class="">
                                            <a href="#tab_vip_3" data-toggle="tab">钱包</a>
                                        </li>
                                        
                                    </ul>
                                    <div class="tab-content" style="padding-top:25px;">
                                         <div class="tab-pane active" id="tab_vip_1">
                                            <form action="/index/order/vip_submit.html" method="post" role="form">
                                                <input type="hidden" name="days" value="">
                                                <input type="hidden" name="paytype" value="alipay">
                                              
                                                <div class="row row-pricelist">
                                                {volist name="viplist" id="data"}
                                                    
                                       
                                                     <div class="col-xs-6 col-sm-4 col-md-3">
                                                        <a href="javascript:" class="price-item " data-days="{$data.day}">
                                                            <div class="title">{$data.name}/{$data.day}天</div>
                                                            <div class="price"><em>￥</em><b>{$data.money}</b></div>
                                                            <div class="subtext">费率：<span style="color:red">{$data.feilv}%</span></div>
                                                        </a>
                                                    </div>
                                                
                                                    
                          
                                                 {/volist}  
                                                  </div>
                                                <div class="row row-recharge" style="margin:20px -15px 0 -15px;">
                                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                                                        <input type="submit" class="btn btn-info btn-recharge btn-block" value="立即购买">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                         <div class="tab-pane " id="tab_vip_2">
                                           <form action="/index/order/vip_submit.html" method="post" role="form">
                                                <input type="hidden" name="days" value="">
                                                <input type="hidden" name="paytype" value="wxpay">
                                                <div class="row row-pricelist">
                                                    {volist name="viplist2" id="data"}
                                                     <div class="col-xs-6 col-sm-4 col-md-3">
                                                        <a href="javascript:" class="price-item " data-days="{$data.day}">
                                                            <div class="title">{$data.name}/{$data.day}天</div>
                                                            <div class="price"><em>￥</em><b>{$data.money}</b></div>
                                                            <div class="subtext">费率：<span style="color:red">{$data.feilv}%</span></div>
                                                        </a>
                                                    </div>
                                                 {/volist}  
                                                  </div>
                                                <div class="row row-recharge" style="margin:20px -15px 0 -15px;">
                                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                                                        <input type="submit" class="btn btn-info btn-recharge btn-block" value="立即购买">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                         <div class="tab-pane " id="tab_vip_3">
                                           <form action="/index/order/vip_submit.html" method="post" role="form">
                                                <input type="hidden" name="days" value="">
                                                <input type="hidden" name="paytype" value="qqpay">
                                                <div class="row row-pricelist">
                                                    {volist name="viplist3" id="data"}
                                                     <div class="col-xs-6 col-sm-4 col-md-3">
                                                        <a href="javascript:" class="price-item " data-days="{$data.day}">
                                                            <div class="title">{$data.name}/{$data.day}天</div>
                                                            <div class="price"><em>￥</em><b>{$data.money}</b></div>
                                                            <div class="subtext">费率：<span style="color:red">{$data.feilv}%</span></div>
                                                        </a>
                                                    </div>
                                                 {/volist}  
                                                  </div>
                                                <div class="row row-recharge" style="margin:20px -15px 0 -15px;">
                                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2">
                                                        <input type="submit" class="btn btn-info btn-recharge btn-block" value="立即购买">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>