{__NOLAYOUT__}
<link href="/assets/css/frontend.css?v=1633578511" rel="stylesheet">
<style>
    body {
        padding-top: 1px;
        font-size: 13px;
        background: #ffffff;
    }
    .col-xs-6{
        padding-top:20px;
        padding-left: 30px;
        padding-right: 30px;
    }
</style>
<div class="row" style="">
    <div class="col-xs-12">
    <div class="col-xs-6">
        累计收款金额：{$od.all_money}
    </div>
    <div class="col-xs-6">
        累计收款笔数：{$od.all_money_count}
    </div>
    <div class="col-xs-6">
        今日收款金额：{$od.day_money}
    </div>
    <div class="col-xs-6">
        今日收款笔数：{$od.day_money_count}
    </div>
    <div class="col-xs-6">
        昨日收款金额：{$od.yday_money}
    </div>
    <div class="col-xs-6">
        昨日收款笔数：{$od.yday_money_count}
    </div>
    <div class="col-xs-6">
        本周收款金额：{$od.week_money}
    </div>
    <div class="col-xs-6">
        本周收款笔数：{$od.week_money_count}
    </div>
    <div class="col-xs-6">
        本月收款金额：{$od.yue_money}
    </div>
    <div class="col-xs-6">
        本月收款笔数：{$od.yue_money_count}
    </div>
    <div class="col-xs-6">
        本年收款金额：{$od.year_money}
    </div>
    <div class="col-xs-6">
        本年收款笔数：{$od.year_money_count}
    </div>
    
</div>
<div class="col-xs-12">
    
</div>
</div>